div.recuadrogris{
    padding: 2%;
    text-align: center;
    font-size: 60px;
    background-color: darkgray;
    position: sticky;
    top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.cajatexto{
    text-align: left;
    margin-bottom: 3%;
    font-size: 15px;

}